.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 600px;
}
.blink_txt {
  -webkit-animation: squiggly-anim 0.34s linear infinite;
  animation: squiggly-anim 0.34s linear infinite;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}
.description {
  text-align: center;
  line-height: 20px;
}

.flex_center_justified {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
